@{
    Layout = null;
}

@model Services.HtmlHelpers.ButtonsView
<div class="btn">
    <div class="img_btn_blue_small btn">
        @Html.Partial("~/Views/Game/Buttons/ajaxLink.cshtml", Model)
    </div>
</div>
