@import "../suples";
.timer-progress{
    @include size-full-size();
}
.time-contiol {
    font-size: 24px;
    opacity: 0;
    overflow:hidden;
    border: 1px solid $resource-out-border-color;
    position: relative;
    text-align: center;
    /*@include vendor-prefix(transition, #{opacity $animation-short-linear, text-shadow $animation-short-linear, color $animation-short-linear});*/
    @include vendor-prefix(transition, #{opacity $animation-short-linear, color $animation-short-linear});
    & .time-data{padding:5px;}
}

.item-indicator-progress {
    position: absolute;
    z-index: -1;
    background-color: $color-main-1;
    left: 0;
    bottom: 0;
    opacity: 0.5;
}

.item-indicator-progress.horizontal {
    width: 0;
    height: 100%;
}

.item-indicator-progress.vertical {
    height: 0;
    width: 100%;
}
