@{
    Layout = null;
}
@using System.Threading.Tasks
@model string

 
<div class="category text-center">
    <div class="articleHead">
        <h1 class="text-shadow-default" itemprop="headline">@Model</h1>
        <div class="line" itemprop="image"></div>
    </div>
</div>