@{
    Layout = "/Views/Shared/_SiteLayout.cshtml";
}

@using Server.Modules.Localize.Site.Community
@{
    var title = Resource.Community;
    ViewBag.Title = title;
}

<ul class="community">
    <li>
  
        @*<a href="@Url.Action("Skagry", "Community")">*@
        <a href="/">
            <img src="../../Content/images/mothership.png" alt="" href="">

            <div>
                <h2>Skagry</h2>

                <p>
                    Какой то вступительный текст
                </p>
            </div>
        </a>
    </li>


    <li>
        <a href="">
            <img src="../../Content/images/mothership.png" alt="" href="">

            <div>
                <h2>My chennel</h2>

                <p>
                    Какой то вступительный текст
                </p>
            </div>
        </a>
    </li>


</ul>.




