@{
    Layout = null;
}

<div class="content_wraper">
    <div class="content_scroller">
        <div class="tab_content JsbAc wrap">
@*            <!--Обычные вкладки 3 штуки-->*@

            <div class="standart_tabs">
                <ul class="tab_ul_cont flex JsbAc">
                    <li class="sprite_atlas"><a href="#name1">1</a></li>
                    <li class="sprite_atlas"><a href="#name2">2</a></li>
                    <li class="sprite_atlas"><a href="#name3">3</a></li>
                </ul>
                <div class="content_wraper content_wraper_border">
                    <div class="tabs_content_scroller">
                        <div class="tab_content">
                            <div class="" data-tab="name1">1</div>
                            <div class="" data-tab="name2">2</div>
                            <div class="" data-tab="name3">3</div>
                        </div>
                    </div>
                </div>
            </div>
@*            <!--/Обычные вкладки-->*@
            <div class="exemple">
                <div class="img_btn_red"></div>
                <div class="img_btn_blue"></div>
                <div class="img_btn_blue_small"></div>
@*                <!--full medium btns-->*@
                <div class="img_btn_blue_st"></div>
                <div class="img_btn_send_message"></div>
                <div class="img_btn_create_message"></div>
                <div class="img_btn_send_messages"></div>
                <div class="img_btn_create_chennel"></div>
                <div class="img_btn_trash"></div>
                <div class="img_btn_contr_spy"></div>
                <div class="img_btn_setting"></div>
                <div class="img_btn_serch"></div>
@*                <!--full medium btns-->*@
@*                <!--inputs-->*@
                <div class="img_small_input"><input class="small_input" type="text"></div>
                <div class="img_mid_input"><input class="mid_input" type="text"></div>
                <div class="img_flat_input"><input class="flat_input" type="text"></div>
@*                <!--inputs-->*@
@*                <!--btn comp-->*@
@*                <!--red-->*@
@*                <!--left-->*@
                <div class="img_small_border_left">
                    <div class="img_btn_small_red_left"></div>
                </div>
@*                <!--/left-->*@
@*                <!--right-->*@
                <div class="img_small_border">
                    <div class="img_btn_small_red"></div>
                </div>
@*                <!--/right-->*@
@*                <!--/red-->*@
@*                <!--blue-->*@
@*                <!--/left-->*@
                <div class="img_small_border_left">
                    <div class="img_btn_small_blue_left"></div>
                </div>
@*                <!--/left-->*@
@*                <!--right-->*@
                <div class="img_small_border">
                    <div class="img_btn_small_blue"></div>
                </div>
@*                <!--/right-->*@
@*                <!--/blue-->*@
@*                <!--with_icon-->*@
@*                <!--red-->*@
@*                <!--go to trash-->*@
                <div class="img_small_border">
                    <div class="img_btn_small_red">
                        <div class="img_icon_trash"></div>
                    </div>
                </div>
@*                <!--/go to trash-->*@
@*                <!--delete from trash-->*@
                <div class="img_small_border">
                    <div class="img_btn_small_red">
                        <div class="img_icon_delete"></div>
                    </div>
                </div>
@*                <!--/delete from trash-->*@
@*                <!--/red-->*@
@*                <!--blue-->*@
@*                <!--channel setting-->*@
                <div class="img_small_border">
                    <div class="img_btn_small_blue">
                        <div class="img_icon_setting"></div>
                    </div>
                </div>
@*                <!--channel setting-->*@
@*                <!--attack target move-->*@
                <div class="img_small_border">
                    <div class="img_btn_small_blue">
                        <div class="img_icon_fleet_target"></div>
                    </div>
                </div>
@*                <!--/attack target move-->*@
@*                <!--bilding progress-->*@
                <div class="img_small_border">
                    <div class="img_btn_small_blue">
                        <div class="img_icon_progress"></div>
                    </div>
                </div>
@*                <!--/bilding progress-->*@
@*                <!--/blue-->*@
@*                <!--/with_icon-->*@
@*                <!--centre blue-->*@
                <div class="btn_big_centre border-standard bs_blue"></div>
@*                <!--/centre blue--->*@
@*                <!--centre yellow-->*@
                <div class="btn_big_centre border-standard bs_yellow"></div>
@*                <!--/centre blue--->*@
@*                <!--centre red-->*@
                <div class="btn_big_centre border-standard bs_red"></div>
@*                <!--/centre blue--->*@
@*                <!--centre green-->*@
                <div class="btn_big_centre border-standard bs_green"></div>
@*                <!--/centre blue--->*@
@*                <!--/btn comp-->*@
@*                <!--progress scale-->*@
@*                <!--full-->*@
                <div class="progress_container progress_white"></div>
@*                <!--/full-->*@
@*                <!--empty-->*@
                <div class="progress_container progress_empty"></div>
@*                <!--/empty-->*@
@*                <!--/progress scale-->*@
@*                <!--alliance setting-->*@
@*                <!--name container-->*@
                <div class="containerDark_blueRectangle"></div>
@*                <!--/name container-->*@
@*                <!--check container-->*@
                <div class="containerDark_blueSquare"></div>
@*                <!--/check container-->*@
@*                <!--/alliance setting-->*@
@*                <!--кнопки которые вкладки-->*@
                <div class="model_1">
                    <ul class="flex JsbAc">
                        <li class="img_active_tab_1_1">asd</li>
                        <li class="img_btn_trash"></li>
                    </ul>
                    <div class="">
                        <div class="img_cont_tab_1_1"></div>
                    </div>
                    <div class="">
                        <div class=""></div>
                    </div>
                </div>

                <div class="model_2">
                    <ul class="flex JsbAc">
                        <li class="img_active_tab_2_1">asd</li>
                        <li class="img_active_tab_2_2"></li>
                    </ul>
                    <div class="">
                        <div class="img_cont_tab_2_1"></div>
                    </div>
                    <div class="">
                        <div class="img_cont_tab_2_2">
                            <div class="img_ta_1"><textarea class="ta_1" cols="30" rows="10"></textarea></div>
                        </div>
                    </div>
                </div>

@*                <!--ввод сообщений-->*@
                <div class="img_ta_1"><textarea class="ta_1" name="" id="" cols="30" rows="10"></textarea></div>

@*                <!--/ввод сообщений-->*@
@*                <!--/кнопки которые вкладки-->*@


            </div>
        </div>
    </div>
</div>


<script>
    //Верхние вкладки
//    $('.standart_tabs').tabs();
    //Подвкладки

    //Сборс активности вложенности вкладок при переходе по родительским вкладкам
    //    $('.standart_tabs ul:first-child').click(function () {
    //        $('.sub_tabs').find('li.active').removeClass('active');
    //    });
</script>
