@{
    Layout = null;
}

<div class="content_wraper">
    <div class="content_scroller">
        <div class="tab_content JsbAc wrap">
@*            <!--Строки контейнера-->*@
            <div class="w_100pr f_size_36px color_white">Latin</div>
            <ul class="text_window_head">
                <li class="f_size_18px">window_head</li>
                <li class="f_size_20px">window_head</li>
                <li class="f_size_24px">window_head</li>
                <li class="f_size_30px">window_head</li>
                <li class="f_size_36px">window_head</li>
            </ul>
            <ul class="text_name">
                <li class="f_size_18px">name</li>
                <li class="f_size_20px">name</li>
                <li class="f_size_24px">name</li>
                <li class="f_size_30px">name</li>
                <li class="f_size_36px">name</li>
            </ul>

            <ul class="text_h_standart">
                <li class="f_size_18px">h_standart</li>
                <li class="f_size_20px">h_standart</li>
                <li class="f_size_24px">h_standart</li>
                <li class="f_size_30px">h_standart</li>
                <li class="f_size_36px">h_standart</li>
            </ul>
            <ul class="text_p_standart">
                <li class="f_size_18px">p_standart</li>
                <li class="f_size_20px">p_standart</li>
                <li class="f_size_24px">p_standart</li>
                <li class="f_size_30px">p_standart</li>
                <li class="f_size_36px">p_standart</li>
            </ul>

            <ul class="text_black_red">
                <li class="f_size_18px">black_red</li>
                <li class="f_size_20px">black_red</li>
                <li class="f_size_24px">black_red</li>
                <li class="f_size_30px">black_red</li>
                <li class="f_size_36px">black_red</li>
            </ul>
            <ul class="text_growth">
                <li class="f_size_18px">text_growth +250</li>
                <li class="f_size_20px">text_growth +250</li>
                <li class="f_size_24px">text_growth +250</li>
                <li class="f_size_30px">text_growth +250</li>
                <li class="f_size_36px">text_growth +250</li>
            </ul>
@*            <!--russian-->*@
            <div class="w_100pr f_size_36px color_white">Cyrilic</div>
            <ul class="text_window_head">
                <li class="f_size_18px">Имя_окна</li>
                <li class="f_size_20px">Имя_окна</li>
                <li class="f_size_24px">Имя_окна</li>
                <li class="f_size_30px">Имя_окна</li>
                <li class="f_size_36px">Имя_окна</li>
            </ul>
            <ul class="text_name">
                <li class="f_size_18px">Имя</li>
                <li class="f_size_20px">Имя</li>
                <li class="f_size_24px">Имя</li>
                <li class="f_size_30px">Имя</li>
                <li class="f_size_36px">Имя</li>
            </ul>

            <ul class="text_h_standart">
                <li class="f_size_18px">Заголовок_по_умолчанию</li>
                <li class="f_size_20px">Заголовок_по_умолчанию</li>
                <li class="f_size_24px">Заголовок_по_умолчанию</li>
                <li class="f_size_30px">Заголовок_по_умолчанию</li>
                <li class="f_size_36px">Заголовок_по_умолчанию</li>
            </ul>
            <ul class="text_p_standart">
                <li class="f_size_18px">Текст_по_умолчанию</li>
                <li class="f_size_20px">Текст_по_умолчанию</li>
                <li class="f_size_24px">Текст_по_умолчанию</li>
                <li class="f_size_30px">Текст_по_умолчанию</li>
                <li class="f_size_36px">Текст_по_умолчанию</li>
            </ul>

            <ul class="text_black_red">
                <li class="f_size_18px">Обводка_черный_красный</li>
                <li class="f_size_20px">Обводка_черный_красный</li>
                <li class="f_size_24px">Обводка_черный_красный</li>
                <li class="f_size_30px">Обводка_черный_красный</li>
                <li class="f_size_36px">Обводка_черный_красный</li>
            </ul>
            <ul class="text_growth">
                <li class="f_size_18px">Прирост +250</li>
                <li class="f_size_20px">Прирост +250</li>
                <li class="f_size_24px">Прирост +250</li>
                <li class="f_size_30px">Прирост +250</li>
                <li class="f_size_36px">Прирост +250</li>
            </ul>
@*            <!--/russian-->*@


        </div>
    </div>
</div>