@{
    ViewData["Title"] = "Confirm email error";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Мы не смогли подтвердить ваш е-mail <a asp-action="Register"> попробуйте пройти регистрацию повторно</a>
    </p>
</div>
