@{
    ViewData["Title"] = "Confirm Email";
}
@model string
 
<div class="row">
    <div class="col-md-4"  style="background-color: #101010; margin-top: 20px">
        <h2 class="text-danger">@ViewData["Title"]</h2>
        <p class="lead" style="color:#bababa"> We send confirm code to you email: <br>
            <i style="text-decoration: underline; color:#7cb6c1">@Model</i> <br>
            plase confirm email for activate your account</p>
    </div>
</div>
