@using Server.ServicesConnected.Auth.Models.AccountViewModels
@model Server.ServicesConnected.Auth.Models.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="site-form-group">
    <h2>@ViewData["Title"]</h2>
    <div class="row JcAs">
        <div class="col-md-4">
            <h4>Enter your email.</h4>
            <hr/>
            <form asp-action="ForgotPassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="display-none"></label>
                    <input asp-for="Email" class="form-control" placeholder="Email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <h3></h3>
                <button type="submit" class="btn btn-default account-form-button">Submit</button>
            </form>
        </div>
    </div>
</div>

 