$change-color-tab-control:change-color-tab-control;
$animation-standart: .5s ease-in-out !global;
$animation-short: .2s ease-in-out !global;

$animation-short-linear-time :.2s; 
$animation-short-linear: $animation-short-linear-time  linear !global;

//site
$home-scroll-ani:home-scroll-ani;
