//
//.res .small {
//    background-size: ($s-size-resource-container * 4), auto;
//    width: $s-size-resource-container;
//    height: $s-size-resource-container;
//    margin: $base-resource-icon-margin;
//    display: inline-block;
//}
//
//.res .ms {
//    background-size: ($ms-size-resource-container * 4), auto;
//    width: $ms-size-resource-container;
//    height: $ms-size-resource-container;
//    margin: $base-resource-icon-margin;
//    display: inline-block;
//}
//
//.res .e,
//.res .ir,
//.res .dm,
//.res .cc,
//.res .time {
//    background-image: url("https://eternplaypublic.blob.core.windows.net/sprites/res.svg");
//    background-repeat: no-repeat;
//}
// 
//
//
//.cc { background-position: -2% 0; }
//
//.dm { background-position: 31% 0; }
//
//.e { background-position: 64% 0 }
//
//.ir { background-position: 95% 0; }
//
//.time { background-color: red; }